:root{
    --x: 45deg;
}

.play-container{
    padding-left: 2%;
    margin-top: 1%;
    z-index: 10;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.right-sidebar{
    flex-basis: 30%;
}

.video-box{
    flex-basis: 69%;
}

.play-video video{
    width: 100%;
    border-radius: 10px;
}

.video-filtered{
    filter: grayscale(10%) brightness(110%) contrast(120%);
}

.blur-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../resources/HS_video-background.png);
    width: 100%;
    height: 100%;
    filter: blur(50px);
    border-radius: 10px; 
    z-index: -1;
}

.controls-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding-bottom: 3vh;
    background: linear-gradient(to top, #000000f3, #000000a2,transparent);
    border-radius: 0 0 10px 10px;
}

.buttons{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button:active{
    background: linear-gradient(45deg, #6d12c2be, #0e519ebe, #0fa1c5b9);
}

.btn__style{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    border: none;
}

.btn__group{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn__group button{
    margin-left: 1rem;
}

.btn__style i{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    border-radius: 10px;
}

.btn__style:hover i, .¿.btn__style:hover i:nth-child(2){
    border-radius: 3px;
    background: linear-gradient(var(--x), #7c07b3, #2424249d, #2424249d, #6c1ec5);
}


.btn__style:hover i:nth-child(2){
    filter: blur(10px);
}

.btn__style:hover svg{
    position: absolute;
    background: #1b1b1b6b;
}

.mini-icons{
    padding: 20%;
}

.fullscreen_icon{
    height: 50%;
}

.theater__btn{
    color: #fff;
    transition: 0.3s ease-in-out;
}

.theater__btn span{
    margin-left: .5rem;
    display: none;
}

.theater__btn:hover{
    width: 13.5vh;
}

.theater__btn:hover span{
    display: block;
}

.volume__btn:hover{
    width: 15vh;
}

.btn__style:hover, .theater__btn:hover{
    /*background: linear-gradient(45deg, #9708bb, #5d0aa1);*/
    transform: scale(1.05);
}


.play_icon, .pause_icon{
    height: 75%;
    background: transparent;
    fill: linear-gradient(to right, #a21ad8, #1e61c5);
}

.pause_icon{
    display: none;
    height: 60%;
}

#volume-on{
    display: block;
}

#volume-off{
    display: none;
}

.volume__slider{
    display: none;
    margin-left: 10px;
    width: 10vh;
    background: #2a282b;
    transition: .3s ease-in-out;
}

.volume__btn:hover .volume__slider{
    display: block;
}

.progress-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 10px;
    border-radius: 3px;
    background-color: #323033;
    margin-bottom: 10px;
    overflow: hidden; 
    z-index: -2;
}

.progress__filled{
    margin: 2px;
    width: 0;
    height: 80%;
    background: linear-gradient(to right, #a21ad8, #4760ec);
    border-radius: 3px;
}

.progress__blur {
    position: absolute;
    width: 0;
    height: 15%;
    background: linear-gradient(to right, #a21ad8, #4a3adb);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: -1;
  }

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin: 0 8px 8px 8px;
}

.side-video-list img{
    border-radius: 5px;
    width: 100%;
}

.side-video-list .small__thumbnail{
    flex-basis: 49%;
}

.side-video-list .vid-info{
    flex-basis: 49%;
}

/*------------------------------------ video description -----------------------------------------*/

.video-box h2{
    margin: 10px 0 2px 0;
}

.tags{
    display: flex;
}

.tags p{
    margin-right: 10px;
}

.video__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__btns{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.info__btns button{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.info__btns button:hover{
    box-shadow: 1px 1px 10px 2px #0000004f;;
    transform: scale(1.05);
}

.stroke{
    stroke: #e5dbeed5;
}

.info__btns button .add__fill{
    fill: #e5dbeed5;
}

.info__btns button:hover .add__fill{
    fill: #9b14e9d5;
}

.info__btns button:hover .stroke{
    stroke: #9b14e9d5;
}

.info__btns button:Active svg{
    transform: scale(1.05);
}

.info__btns button:nth-child(1):active .like__icon .stroke{
    stroke:#16a5e7;
    fill: #16a5e7;
}

.info__btns button:nth-child(2):active .like__icon .stroke{
    stroke: #e232a7;
    fill: #e232a7;
}

.info__btns button:active .add__fill{
    stroke:#9b14e9d5;
    fill: #a74ddbd5;
}

.info__btns button:active .btn__info .stroke{
    stroke:#9b14e9d5;
    fill: #9b14e9d5;
}

.info__btns .btn__info{
    width: 65%;
}

.info__btns .like__icon{
    width: 50%;
}

.blur_btn{
    display: none;
}

.info__btns button:hover .blur_btn{
    display: flex;
    position: absolute;
    filter: blur(5px);
    color: #bd3ae6;
}

.active__btn{
    stroke:#9b14e9d5;
    fill: #9b14e9d5;
}

.stroke__clicked{
    display: none;
    position: absolute;
    z-index: 10;

    stroke:#16a5e7;
    fill: #16a5e7;
}

/*------------------------- Comment section --------------------------*/
.input__comment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0 10px 0;
}

.comment__input {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    font-weight: 200;
}

.comments__container .comment__input{
    height: 6vh;
    background: #0f0f0f;
    border: none;
    border-bottom: 1px solid #535353b9;
    border-radius: 5px 5px 0 0;
    color: rgb(175, 175, 175);
    font-size: .9rem;
    padding: 5px 5rem 5px 5px;
    outline: none;
    min-height: 2rem;
}

.comments__container .comment__input:focus{
    border-bottom: 2px solid #818181b9;
}

.comment-buttons{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
}

.comment-buttons button{
    height: 50px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background: #1e1b1f;
    color: #fff;
}

.comment-buttons button:active{
    transform: scale3d(0.95, 1.05, 0.95);
    box-shadow: 1px 2px 5px #0000004f;
}

.comments__container ul{
    color: #fff;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments__container ul li{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.emoji{
    height: 25px;
    position: absolute;
    z-index: 10;
    right: 32%;
}

.emoji:active{
 transform: scale(1.05);
}

.none{
    display: none;
}
